<div class="container text-center">
  <div class="row">
    <div class="col">
      Id sede:
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="userActual.idSede">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Id usuario:
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="userActual.id">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Nombre:
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="userActual.nombre">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Apellido:
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="userActual.apellido">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Fecha de inscripcion:
    </div>
    <div class="col">
      <input type="datetime-local" [(ngModel)]="userActual.fechaInscripcion">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Mensualidad:
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="userActual.mensualidad">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="insertUser()">Guardar</button>
    </div>
  </div>
</div>
